@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container main-text">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenido</h1>
        <p class="lead">
          Desde este sitio se puede monitorear, controlar y analizar el estado de situación de la linea de armado correspondiente al procesamiento de paquetes en la linea final de producción.
          </p>
      </div>
    </div>


    <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <a class="col card-column" href="/Visualization">
          <div class="card shadow-sm">
            <img src="./content/images/home.graph.icon.png" width="100%" height="100%" />
            <div class="card-body">
              <p class="card-text"><b>Visualización</b></p>
              <p class="card-text">En esta sección esta disponible toda la inforación sobre la cantidad de bultos procesados.</p>
            </div>
          </div>
        </a>
        <a class="col card-column" href="/Status">
          <div class="card shadow-sm">
            <img src="./content/images/home.status.icon.png" width="100%" height="100%" />
            <div class="card-body">
              <p class="card-text"><b>Estado del sistema</b></p>
              <p class="card-text">Se puede auditar el estado general del sistema en base a sus componentes principales.</p>
            </div>
          </div>
        </a>
        <a class="col card-column" href="/Report">
          <div class="card shadow-sm">
            <img src="./content/images/home.report.icon.png" width="100%" height="100%" />
            <div class="card-body">
              <p class="card-text"><b>Reporte</b></p>
              <p class="card-text">Sección dedicada a la auditoría general del sistema en base a una bitácora centralizada.</p>
            </div>
          </div>
        </a>
        <a class="col card-column" href="/Configuration">
          <div class="card shadow-sm">
            <img src="./content/images/home.configuration.icon.png" width="100%" height="100%" />
            <div class="card-body">
              <p class="card-text"><b>Configuración</b></p>
              <p class="card-text">Toda la configuración referente al sistema se puede encontrar en esta sección.</p>
            </div>
          </div>
        </a>
        
      </div>
    </div>
  </div>

  </section>